In [ ]:
#String Based Practice Questions

In [ ]:
# 1.  Write a program to reverse a string.

In [3]:
# s is a variable
s = "Tuntun"
# Revirsed the string
s = s[::-1]
print(s)

nutnuT

In [ ]:
 #2. Check if a string is a palindrome.

In [12]:
# Taking input from user
s = input("Enter a string")
# converting to upper case
s = s.upper()
# checking palindrome
if s == s[::-1]:
    print("it's a palindrome")
else :
    print("It's not a palindrome")

Enter a string Madam

it's a palindrome

In [ ]:
# 3. Convert a string to uppercase.

In [7]:
s = "Tuntun"
s = s.upper()
print(s)

TUNTUN

In [ ]:
# 4.  Convert a string to lowercase.

In [13]:
# s ia variable which is storing the string
s = "Tuntun"
# Converting to lower
s = s.lower()
print(s)

tuntun

In [ ]:
# 5. Count the number of vowels in a string.

In [20]:
s = 'Tuntun'
v = 'AEIOUaeiou'
# checking the vowel
count = sum(1 for char in s if char in v)
print("No. of vowels:", count)

No. of vowels 2

In [ ]:
#6. Count the number of consonants in a string.

In [21]:
s = 'Tuntun'
v = 'AEIOUaeiou'
# checking consonants
count = sum(1 for char in s if char not in v)
print("No. of Consonant:", count)

No. of Consonant: 4

In [ ]:
 #7. Remove all whitespaces from a string.

In [22]:
s = 'tu nt u n'
# Removing the space
s = s.replace(" ", "")
print(s)

tuntun

In [ ]:
 #8. Find the length of a string without using the `len()` function.

In [24]:
s = "Tuntun"
# counting the string
count =sum(1 for char in s)
print(count)

6

In [ ]:
#9. Check if a string contains a specific word.

In [31]:
s = " This is a book"
# checking the words it's exist or not
i = input ("Enter a word")
if i in s :
    print("It's exist")
else:
    print("Not found")

Enter a word book

It's exist

In [ ]:
# 10. Replace a word in a string with another word.

In [33]:
s = "I want to code efficently"
# Replacing the word
s = s.replace('efficently', "Perfectly")
print(s)

I want to code Perfectly

In [ ]:
# 11. Count the occurrences of a word in a string.

In [58]:
# s is the string
s = 'This is a python code, it is a easy language'
s = s.split()
# c is defined for occurance check
c = 'is'
count = 0
# iterating the string and checking the occurance
for i in s:
    if i == c:
        count += 1
print("Count of matching words :",count)

Count of matching word : 2

In [ ]:
# 12. Find the first occurrence of a word in a string.

In [67]:
s = input("Enter the text:")
i = input("Enter the word to find:")
s 
index = s.find(i) 
if i != -1:
    print("The first occurrence is", index )
else :
    print("Word not found")

Enter the text This is not a is not
Enter the word to find not

The first occurrence is 8

In [ ]:
13. Find the last occurrence of a word in a string.

In [78]:
s = input("Enter the text:")
i = input("Enter the word to find:")
s 
index = s.rfind(i) 
if i != -1:
    print("The last occurrence is", index )
else :
    print("Word not found")

Enter the text: This is to find is
Enter the word to find: is

The last occurrence is 16

In [ ]:
#14. Split a string into a list of words.

In [63]:
s = 'This is my another code'
s = s.split()
print(s)

['This', 'is', 'my', 'another', 'code']

In [ ]:
# 15. Join a list of words into a string.

In [69]:
s = ['This', 'is', 'my', 'another', 'code']
l = " "
l = l.join(s)
print(l)

This is my another code

In [ ]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [70]:
s = 'This is my converted code'
s =s.replace(' ', '_')
print(s)

This_is_my_converted_code

In [ ]:
 #7. Check if a string starts with a specific word or phrase.

In [82]:
s = input("Enter a sentence")
i = input("Enter a specific word")
check = s.startswith(i)
if check is True:
    print("It's started with specific word")
else :
    print("it's not started with a specific word")

Enter a sentence This is
Enter a specific word This

It's started with specific word

In [ ]:
#18. Check if a string ends with a specific word or phrase.

In [86]:
s = input("Enter a sentence")
i = input("Enter a specific word")
check = s.endswith(i)
if check is True:
    print("It's ends with specific word")
else :
    print("it's not ends with a specific word")

Enter a sentence This is end with a specific word
Enter a specific word word

It's ends with specific word

In [ ]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [71]:
s = 'this is tile Check'
s = s.title()
print(s)

This Is Tile Check

In [ ]:
#20. Find the longest word in a string.

In [83]:
s = 'this is tile Check'
s =s.split()
ln = 0
for i in s :
    if ln < len(i):
        ln =len(i)
print(f" The longest word: {ln}, word is {i}")

 The longest word: 5, word is Check

In [ ]:
#21. Find the shortest word in a string.

In [ ]:
s = 'this is tile Check'
s =s.split()
for i in s :
    if i < ln < len(i):
        ln =len(i)
print(f" The longest word: {ln}, word is {i}")

In [ ]:
#22. Reverse the order of words in a string.

In [84]:
s = "Tuntun"
s = s[::-1]
print(s)

nutnuT

In [ ]:
#23. Check if a string is alphanumeric.

In [97]:
s = input("Enter string")
s= s.isalnum()
s

Enter string tuntun

True

In [ ]:
#24. Extract all digits from a string.

In [106]:
s = "tun2tu4n1"
n = "1234567890"
n1 = []
for i in s:
    if i in n:
        n1.append(i)
print(n1)

['2', '4', '1']

In [ ]:
#25. Extract all alphabets from a string.

In [107]:
s = "tun2tu4n@1"
n = "1234567890@#$$%&"
n1 = []
for i in s:
    if i not in n:
        n1.append(i)
print(n1)

['t', 'u', 'n', 't', 'u', 'n']

In [ ]:
#26. Count the number of uppercase letters in a string.

In [13]:
s = "TunTun"
c = 0
for i in s:
    if i.isupper():
        c += 1
print("Count of upper case ", c)

Count of upper case  2

In [ ]:
#27. Count the number of lowercase letters in a string.

In [14]:
s = "TunTun"
c = 0
for i in s:
    if i.islower():
        c += 1
print("Count of upper case ", c)

Count of upper case  4

In [ ]:
#28. Swap the case of each character in a string.

In [41]:
s = "TunTun"
s = s.swapcase()
print(s)

tUNtUN

In [ ]:
#29. Remove a specific word from a string.

In [91]:
s = input("Enter a string")
i = input("Enter word to remove")
r = s.replace(i, " ")
print("Remove words", r)

Enter a string This is my new text
Enter word to remove my

Remove words This is   new text

In [ ]:
#30. Check if a string is a valid email address.

In [96]:
import re
email = input("Enter a mail id")
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
check = re.match(pattern, email)
print("It's Valid Email" if check else "It's not valid")

Enter a mail id Thu@gmIL.COM

Valide email

In [ ]:
#31. Extract the username from an email address string.

In [105]:
import re

email = input("Enter a email")
# Defined a regex pattern to match the username
pattern = r'^(.*?)@'
match = re.match(pattern, email)

if match:    
    username = match.group(1)
    print(f"Email: {email}, Username: {username}")
else:
    print("Invalid email format.")

Enter a email tuntun.sah@gmail.com

Email: tuntun.sah@gmail.com, Username: tuntun.sah

In [ ]:
#32. Extract the domain name from an email address string.

In [107]:
import re

email = input("Enter a email")
# Defined a regex pattern to match the domain
pattern = r'@(.+)$'
match = re.search(pattern, email)

if match:
    domain = match.group(1)
    print(f"Email: {email}, Domain: {domain}")
else:
    print("Invalid email format.")

Enter a email Tuntun@gmail.com

Email: Tuntun@gmail.com, Domain: gmail.com

In [ ]:
#33. Replace multiple spaces in a string with a single space.

In [108]:
text = input("Enter a text")
cleaned_text = ' '.join(text.split())
print("Cleaned Text", cleaned_text)

Enter a text This   is the     way to   code

Cleaned Text This is the way to code

In [ ]:
#34. Check if a string is a valid URL.

In [110]:
import re

url =input("Enter a url")

# Define a regex pattern for a valid URL
pattern = r'^(https?://)?(www\.)?([a-zA-Z0-9.-]+)(:[0-9]{1,5})?(/.*)?$'

# Check if the URL matches the pattern
is_valid = re.match(pattern, url) 
print("It's a valid" if is_valid else "It's not valid")

Enter a url kkkk

It's a valid

In [ ]:
#35. Extract the protocol (http or https) from a URL string.

In [111]:
url = "https://www.example.com/path/to/resource"

protocol = url.split("://")[0]
print(f"URL: {url}, Protocol: {protocol}")

URL: https://www.example.com/path/to/resource, Protocol: https

In [ ]:
#36. Find the frequency of each character in a string.

In [112]:
text = input("Enter text")

# Initializing an empty dictionary to store character counts
char_count = {}

# Iterating through each character in the string
for char in text:
    if char in char_count:
        char_count[char] += 1  # Increment count if character is already in dictionary
    else:
        char_count[char] = 1   # Initialize count to 1 if character is new


for char, count in char_count.items():
    print(f"'{char}': {count}")

Enter text This is a code

'T': 1
'h': 1
'i': 2
's': 2
' ': 3
'a': 1
'c': 1
'o': 1
'd': 1
'e': 1

In [ ]:
 #37. Remove all punctuation from a string.

In [2]:
import string

input_str = input("Enter sentence")

# Create a translation table that maps each punctuation character to None
translator = str.maketrans('', '', string.punctuation)

# Remove punctuation
cleaned_str = input_str.translate(translator)

print(cleaned_str)

Enter sentence This is my : code ? to remove ! punctuation !

This is my  code  to remove  punctuation

In [ ]:
#38. Check if a string contains only digits.

In [49]:
s = input("Enter something")
c = s.isnumeric()
if c is True :
    print("it's numeric")
else : 
    print("it's not a numeric")

Enter something 2

it's numeric

In [ ]:
#39. Check if a string contains only alphabets.

In [52]:
s = input("Enter something")
c = s.isalpha()
if c is True :
    print("it's alphabets")
else : 
    print("it's not a alphabets")

Enter something 22f

it's not a alphabets

In [ ]:
#40. Convert a string to a list of characters.

In [53]:
s = input("Enter a text")
s = list(s)
print(s)

Enter a text Tuntun

['T', 'u', 'n', 't', 'u', 'n']

In [ ]:
#41. Check if two strings are anagrams.

In [5]:
string1 = input("Enter string 1")         #"listen"
string2 =  input("Enter string 2")            #"silent"

# Check if sorted versions of the strings are equal
are_anagrams = sorted(string1) == sorted(string2)

print(are_anagrams)

Enter string 1 listen
Enter string 2 silent

True

In [ ]:
#42. Encode a string using a Caesar cipher.

In [3]:
text = input("Enter the text")
shift =int(input("Enter the number, the char to be shifted"))
 
encoded_text = ""

  # Iterating through each character in the input text.
for char in text:
    if char.isalpha():
        encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
        encoded_char = char
    encoded_text += encoded_char

# Print the encoded text.
print("Encoded text:", encoded_text)

Enter the text Hello World!
Enter the number, the char to be shifted 3

Encoded text: ehoor truog!

In [ ]:
#43. Decode a Caesar cipher encoded string.

In [4]:
text = input("Enter the text")
shift =int(input("Enter the number, the char to be shifted"))
 
encoded_text = ""

  # Iterating through each character in the input text.
for char in text:
    if char.isalpha():
        encoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
    else:
        encoded_char = char
    encoded_text += encoded_char

# Print the encoded text.
print("Decoded text:", encoded_text)

Enter the text ehoor truog!
Enter the number, the char to be shifted 3

Decoded text: bello qorld!

In [ ]:
#44. Find the most frequent word in a string.

In [1]:
import string

# Input string
text = "this is a test. This is only a test. test this is a test."

# Removed punctuation and convert to lowercase for consistent comparison


text = text.translate(str.maketrans('', '', string.punctuation)).lower()

# Split the text into words
words = text.split()

# Create a dictionary to count the frequency of each word
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

# Find the word with the maximum frequency
most_frequent_word = max(word_count, key=word_count.get)
frequency = word_count[most_frequent_word]

print(f"The most frequent word is '{most_frequent_word}' with {frequency} occurrences.")

The most frequent word is 'test' with 4 occurrences.

In [ ]:
#45. Find all unique words in a string.

In [63]:
s = " This is my code to check the unique word to check the unique word"
s = s.split()
print( "Unique words:", set(s))

Unique words: {'unique', 'the', 'This', 'to', 'is', 'my', 'check', 'word', 'code'}

In [ ]:
 #46. Count the number of syllables in a string.

In [2]:
import re

# Input string
text = "This is an example string to count syllables in."

# Remove punctuation and split the text into words
text = re.sub(r'[^\w\s]', '', text)
words = text.split()

# Initialize syllable count
total_syllables = 0

# Iterate through each word
for word in words:
    word = word.lower()
    # Find all groups of vowels (a, e, i, o, u, and sometimes y)
    syllables = re.findall(r'[aeiouy]+', word)  # Find consecutive vowels (syllables)
    total_syllables += len(syllables)  # Add the number of syllables in the word

# Output the total number of syllables
print(f"Total syllables in the string: {total_syllables}")

Total syllables in the string: 13

In [ ]:
#47. Check if a string contains any special characters.

In [3]:
import re

# Input string
text = "Hello, World! How's it going?"

# Regular expression to match any special characters
special_characters = re.compile(r'[^a-zA-Z0-9\s]')  # Matches anything that's not a letter, digit, or whitespace

# Check if there's any special character in the string
if special_characters.search(text):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [ ]:
#48. Remove the nth word from a string.

In [19]:
l = "This is my new code to check the nth word to delete"
n = int(input("Enter number to delete fron the position"))
words = l.split()
if n >= 1 <= len(words):
    removed = words.pop(n-1)
    
wrs = ' '.join(words)
print("After Removed", wrs)
print("Removed Word :", removed)

Enter number to delete fron the position 3

After Removed This is new code to check the nth word to delete
Removed Word : my

In [ ]:
#49. Insert a word at the nth position in a string.

In [4]:
# Input string and word
text = "Hello, how are you today?"
word_to_insert = "doing"
n = 2  # Position where you want to insert the word

# Split the text into a list of words
words = text.split()

# Insert the word at the nth position (index n-1 because list indexing starts at 0)
words.insert(n, word_to_insert)

# Join the words back into a string
new_text = ' '.join(words)

print(f"Updated string: {new_text}")

Updated string: Hello, how doing are you today?

In [ ]:
#50. Convert a CSV string to a list of lists.

In [10]:
csv = "Class, Age, Location \n Tuntun, 26, India \n Rohit, 31, India"
lns = csv.split('\n')

    # Initialize an empty list to store the result
r = []

for l in lns:
    f = l.split(',')
    r.append(f)

for row in r:
    print(row)

['Class', ' Age', ' Location ']
[' Tuntun', ' 26', ' India ']
[' Rohit', ' 31', ' India']

In [ ]:
# List Based Practice Problem :

In [ ]:
#1. Create a list with integers from 1 to 10.

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
# 2. Find the length of a list without using the `len()` function.

In [116]:
l = [1,2,3,4,5,6,7,8,9,10]
c = 0
for i in l:
    c += 1
print("The lenght of the list :", c)

The lenght of the list : 10

In [ ]:
# 3. Append an element to the end of a list.

In [120]:
l = [1,2,3,4,]
l.append(11)
print("The appended list is:", l)

The appended list is: [1, 2, 3, 4, 11]

In [ ]:
# 4. Insert an element at a specific index in a list.

In [124]:
l =[1,2,3,4,5]
l.insert(3, 10)
print("The updated list is:",l)

The updated list is: [1, 2, 3, 10, 4, 5]

In [ ]:
#5. Remove an element from a list by its value.

In [126]:
l =[1,2,3,4,5]
l.remove(3)
print("Removed list",l)

Removed list [1, 2, 4, 5]

In [ ]:
# 6. Remove an element from a list by its index.

In [127]:
l =[1,2,3,4,5]
l.pop(3)
print("Removed list",l)

Removed list [1, 2, 3, 5]

In [ ]:
#7. Check if an element exists in a list.

In [132]:
l = [1,2,3,4,5]
i = int(input("Enter number to check"))
if i in l:
    print(f" {i} exists in the list")
else:
    print(f" {i} Does not exist in the list")

Enter number to check 3

 3 exists in the list

In [ ]:
#8. Find the index of the first occurrence of an element in a list.

In [5]:
my_list = [10, 20, 30, 40, 50, 30, 60]

to_check = int(input("Enter number to check"))

# Iterate through the list to find the index of the first occurrence
for i in range(len(my_list)):
    if my_list[i] == to_check:
        print("Index of first occurrence:", i)
        break  # Exit the loop after finding the first occurrence

Enter number to check 20

Index of first occurrence: 1

In [ ]:
#9. Count the occurrences of an element in a list.

In [16]:
e_list = ["B", "C","A", "D", "C", "B","B", "B"]
o_count = {}
for i in e_list:
    if i in o_count:
        o_count[i] += 1
    else :
        o_count[i] = 1
print("Count of Occurrence are :", o_count)

Count of Occurrence are : {'B': 4, 'C': 2, 'A': 1, 'D': 1}

In [ ]:
# 10. Reverse the order of elements in a list.

In [6]:
l = [1,2,3,4]
#Used sclicing to revirse
l[::-1]

[4, 3, 2, 1]

In [ ]:
#11. Sort a list in ascending order.

In [16]:
l = [3,4,2,5,22,32]
l.sort()
l

[2, 3, 4, 5, 22, 32]

In [ ]:
#12. Sort a list in descending order.

In [18]:
l = [3,4,2,5,22,32]
l.sort( reverse = True)
l

[32, 22, 5, 4, 3, 2]

In [ ]:
 #13. Create a list of even numbers from 1 to 20.

In [29]:
l =[]
# Iterating i in range of 1 to 21 to get the desired numbers
for i in range(1,21):
    if i % 2 == 0:
        l.append(i)
print("The even list is:", l)

The even list is: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#14. Create a list of odd numbers from 1 to 20.

In [30]:
l =[]
# Iterating i in range of 1 to 21 to get the desired numbers
for i in range(1,21):
    if i % 2 != 0:
        l.append(i)
print("The odd list is:", l)

The odd list is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15. Find the sum of all elements in a list.

In [31]:
l = [1,2,3,4,5]
sum = 0
for i in l:
    sum += i
print("The sum of all elements is:", sum)

The sum of all elements is: 15

In [ ]:
#16. Find the maximum value in a list.

In [38]:
l = [20, 10, 24, 26, 30]
largest_Number = 0
for i in l:
    if i > largest_Number:
        largest_Number = i
        
print("The largest Number is:", largest_Number) 
max(l)

The largest Number is: 30

30

In [ ]:
#17. Find the minimum value in a list.

In [39]:
l = [-1, -2, 0, 4,3]
min_l = min(l)
print("The min value is:", min_l)

The min value is: -2

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.

In [40]:
l =[]
for i in range(1,11):
    l.append(i**2)
print("The squared value is",l)

The squared value is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
#19. Create a list of random numbers.

In [49]:
import random

l =[]
C = int(input("Enter count of numbers to be printed"))
for i in range(0, C):
    n = random.randint(10, 100)
    l.append(n)
print("The random list is", l)

Enter count of numbers to be printed 10

The random list is [63, 93, 58, 58, 70, 32, 45, 18, 80, 80]

In [ ]:
#20. Remove duplicates from a list.

In [52]:
l = [1,3,4,1,2,3,1,4,4]
l = set(l)
l = list(l)
print("Unique list is :", l)

Unique list is : [1, 2, 3, 4]

In [ ]:
 #21. Find the common elements between two lists.

In [ ]:
l1 = [1,2,3,4,5]
L1 = [2,,10,4,3,10]

In [ ]:
#22. Find the difference between two lists.

In [17]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]

difference = list(set(list1) - set(list2))
print("Elements in list1 but not in list2:", difference)

Elements in list1 but not in list2: [1, 2, 3]

In [ ]:
#23. Merge two lists.

In [21]:
list1 = [1, 2, 3, 4]
list2 = [4, 5, 6, 7]
print("Merged list is:", list1+list2)

Merged list is: [1, 2, 3, 4, 4, 5, 6, 7]

In [ ]:
#24. Multiply all elements in a list by 2.

In [22]:
my_list = [1, 2, 3, 4, 5]

for i in range(len(my_list)):
    my_list[i] *= 2

print("List after multiplying by 2:", my_list)

List after multiplying by 2: [2, 4, 6, 8, 10]

In [ ]:
#25. Filter out all even numbers from a list.

In [58]:
l = [1,2,3,4,5,6,7]
even_list = []
for i in l:
    if i%2 == 0:
        even_list.append(i)
print("The even list is:", even_list)

The even list is: [2, 4, 6]

In [ ]:
#26. Convert a list of strings to a list of integers.

In [64]:
l = list(input("Enter the numbers:"))
New_list =[]
for i in l:
    New_list.append(int(i))
    
print("The integers list is:",New_list)

Enter the numbers: 12345

The integers list is: [1, 2, 3, 4, 5]

In [ ]:
#27. Convert a list of integers to a list of strings.

In [69]:
l = [1, 2, 3, 4, 5]
new_list = []
for i in l:
    new_list.append(str(i))
print("String list is:", new_list)

String list is: ['1', '2', '3', '4', '5']

In [ ]:
#28. Flatten a nested list.

In [89]:
l = [1,2,3,4, [5,6,7,8]]
nl = []
# Iterate the list
for i in l :
    if type(i) == int:
        nl.append(i) # appen the list
    else:    # Iterate the nested list
        for j in i:
            nl.append(j)  # append the neste list elements      
print("The flatten list is:", nl)

The flatten list is: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.

In [23]:
# Initialize the first two Fibonacci numbers
fib_list = [0, 1]

# Generate the next Fibonacci numbers until the list has 10 elements
for i in range(2, 10):
    next_fib = fib_list[-1] + fib_list[-2]
    fib_list.append(next_fib)

print("First 10 Fibonacci numbers:", fib_list)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#30. Check if a list is sorted.

In [9]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

asc_list = [1,2,3,4,]

# Check if the list is sorted in ascending order
if is_sorted_ascending(asc_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [ ]:
#31. Rotate a list to the left by `n` positions.

In [ ]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

In [ ]:
#32. Rotate a list to the right by `n` positions.

In [12]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [ ]:
#33. Create a list of prime numbers up to 50.

In [13]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
#34. Split a list into chunks of size `n`.

In [ ]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

In [ ]:
 #35. Find the second largest number in a list.

In [ ]:
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

In [ ]:
#36. Replace every element in a list with its square.

In [14]:
my_list = [1,2,3,4,5]

# Replace every element with its square using a list comprehension
squared_lst = [x ** 2 for x in my_list]

print("Squared list:", squared_lst)

Squared list: [1, 4, 9, 16, 25]

In [ ]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [15]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [ ]:
#38. Shuffle the elements of a list randomly.

In [16]:
import random


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

print("Shuffled list:", my_list)

Shuffled list: [5, 7, 6, 10, 8, 1, 2, 4, 3, 9]

In [ ]:
#39. Create a list of the first 10 factorial numbers.

In [17]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
 #40. Check if two lists have at least one element in common.

In [18]:
# Function to check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [ ]:
# 41. Remove all elements from a list.

In [19]:
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

In [ ]:
 #42. Replace negative numbers in a list with 0.

In [23]:
my_list = [1,2,3,-2,-3,3,5]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("Updated list", my_list)

Updated list [1, 2, 3, 0, 0, 3, 5]

In [ ]:
# 43. Convert a string into a list of words.

In [28]:
str1 = "This is my new code"
str2 = str1.split()
print("Converted string is ",str2)

Converted string is  ['This', 'is', 'my', 'new', 'code']

In [ ]:
# 44. Convert a list of words into a string.

In [33]:
my_list = ['This', 'is', 'my', 'new', 'code']

str1 = " ".join(my_list)
print("Converted into string", str1)

Converted into string This is my new code

In [ ]:
 #45. Create a list of the first `n` powers of 2.

In [35]:
n = int(input("Enter count of number to generate"))
lst = []
for i in range(n):
    lst.append(i**2)
print(lst)

Enter count of number to generate 5

[0, 1, 4, 9, 16]

In [ ]:
# 46. Find the longest string in a list of strings.

In [63]:
str1 = ['This', 'is', 'my', 'glouries', 'new', 'code']

longest = " "
for s in str1:
    if len(s) > len(longest):
        longest = s
        
print("Longest word is:" ,longest)

Longest word is: glouries

In [ ]:
# 47. Find the shortest string in a list of strings.

In [66]:
str1 = ['This', 'is', 'my', 'glouries', 'a', 'new', 'code']

longest = str1[0]
for s in str1:
    if len(s) < len(longest):
        longest = s
        
print("Longest word is:" ,longest)

Longest word is: a

In [ ]:
# 48. Create a list of the first `n` triangular numbers.

In [75]:

def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [ ]:
 #49. Check if a list contains another list as a subsequence.

In [ ]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

In [ ]:
# 50. Swap two elements in a list by their indices

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

In [ ]:
# Tuple Based Practice Problem :

In [ ]:
# 1. Create a tuple with integers from 1 to 5.

In [77]:
tup = (1,2,3,4,5)
print("My tuple 1 to 5 is :", tup)

My tuple 1 to 5 is : (1, 2, 3, 4, 5)

In [ ]:
# 2. Access the third element of a tuple.

In [80]:
tup = (1,2,3,4,5)
print("3rd element is",tup[2])

3rd element is 3

In [ ]:
# 3. Find the length of a tuple without using the `len()` function.

In [85]:
tup1 = (1,2,3,4,5)
c = 0
# Interating the tuple
for i in tup1 :
    c +=1
print("The count of tuple is :",c)

The count of tuple is : 5

In [ ]:
# 4. Count the occurrences of an element in a tuple.

In [88]:
tup1 = (1,2,3,4,5,4,2,4)
c = 4
count_occ = 0
# Interating the tuple
for i in tup1 :
    if i == c:
        count_occ += 1 # count the occurrence
print("The count of occurrrnce is :",count_occ)

The count of occurrrnce is : 3

In [ ]:
# 5. Find the index of the first occurrence of an element in a tuple.

In [92]:
my_tuple = (10, 20, 30, 20, 40, 50)

element_to_find = 20

#Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

#  Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [ ]:
# 6. Check if an element exists in a tuple.

In [95]:
tup  = (1,2,3,4,5)
check = 4
if check in tup :
    print(f' The element {check} exist in the tuple.')
else :
      print(f"The element {check} doesn't exist in the tuple.")

 The element 4 exist in the tuple.

In [ ]:
# 7. Convert a tuple to a list.

In [98]:
tup = (1,2,4,6,3)
converted_lst = list(tup)
print("The converted list is:",converted_lst)

The converted list is: [1, 2, 4, 6, 3]

In [ ]:
 # 8. Convert a list to a tuple.

In [99]:
lst = [1,2,4,6,3]
converted_tuple = tuple(lst)
print("The converted list is:",converted_tuple)

The converted list is: (1, 2, 4, 6, 3)

In [ ]:
# 9. Unpack the elements of a tuple into variables

In [100]:
tup = (1,2,3)
v1,v2,v3 = tup
print("Variable-1:", v1)
print("Variable-2:", v2)
print("Variable-3:", v3)

Variable-1: 1
Variable-2: 2
Variable-3: 3

In [ ]:
#10. Create a tuple of even numbers from 1 to 10

In [108]:
lst = []
# iterate the number in range of 10
for i in range(1, 10):
    if i % 2 == 0:
        lst.append(i) # append the even number
#print the tuple        
print("The even tuple is ",tuple(lst))

The even tuple is  (2, 4, 6, 8)

In [ ]:
# 11. Create a tuple of odd numbers from 1 to 10

In [110]:
lst = []
# iterate the number in range of 10
for i in range(1, 10):
    if i % 2 != 0:
        lst.append(i) # append the even number
#print the tuple        
print("The odd tuple is ",tuple(lst))

The odd tuple is  (1, 3, 5, 7, 9)

In [ ]:
# 12. Concatenate two tuples

In [113]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print("Concatenated tuple is :", t1+t2)

Concatenated tuple is : (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#13. Repeat a tuple three times.

In [114]:
t = (1,2,3,4,5)
print("Repeted tuple is :", t*3)

Repeted tuple is : (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
#14. Check if a tuple is empty.

In [115]:

empty_tuple = ()
non_empty_tuple = (7, 6, 3)

if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [ ]:
# 15. Create a nested tuple.

In [117]:
nested_tuple = ((1,2,3),(True, False),(5+9j))
print("Nested tuple is :", nested_tuple)

Nested tuple is : (1, 2, 3, (True, False), (5+9j))

In [ ]:
# 16. Access the first element of a nested tuple

In [119]:
nested_tuple = ((1,2,3),(True, False),(5+9j))
nested_tuple = nested_tuple[0]
print("The first element of Nested tuple is :", nested_tuple)

The first element of Nested tuple is : (1, 2, 3)

In [ ]:
# 17. Create a tuple with a single element.

In [122]:
tup =(1,)
print("Single element tuple is",tup)

Single element tuple is (1,)

In [ ]:
# 18. Compare two tuples.

In [123]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

#Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [ ]:
 #19. Delete a tuple.

In [124]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Delete the tuple using the 'del' statement
del my_tuple

# Try to access the tuple (will raise a NameError)
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [ ]:
#20. Slice a tuple

In [125]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [ ]:
#21. Find the maximum value in a tuple

In [126]:
# Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Find the maximum value in the tuple using the 'max()' function
max_value = max(my_tuple)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 45

In [ ]:
# 22. Find the minimum value in a tuple

In [127]:
# Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Find the minimum value in the tuple using the 'min()' function
min_value = min(my_tuple)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 5

In [ ]:
#23. Convert a string to a tuple of characters

In [128]:
#  Create a string
my_string = "Hello, World!"

# Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [ ]:
#24. Convert a tuple of characters to a string

In [129]:
# Create a tuple of characters
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

# Print the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [ ]:
 #25. Create a tuple from multiple data types

In [131]:
tup = (1,2,(True, False), (5+7j))
print("Misxed tuple is",tup)

Misxed tuple is (1, 2, (True, False), (5+7j))

In [ ]:
#26. Check if two tuples are identical.

In [132]:
# Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [ ]:
# 27. Sort the elements of a tuple.

In [133]:
#Create a tuple
my_tuple = (5, 2, 8, 1, 3)

#Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

#Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [ ]:
 #28. Convert a tuple of integers to a tuple of strings.

In [134]:
#Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [ ]:
 #29. Convert a tuple of strings to a tuple of integers

In [135]:
#Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [ ]:
#30. Merge two tuples

In [136]:
# Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
 #31. Flatten a nested tuple

In [137]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#32. Create a tuple of the first 5 prime numbers

In [138]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [ ]:
#33. Check if a tuple is a palindrome.

In [139]:
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [ ]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [140]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [ ]:
#35. Filter out all even numbers from a tuple.

In [141]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [ ]:
# 36. Multiply all elements in a tuple by 2.

In [142]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [ ]:
 #37. Create a tuple of random numbers.

In [143]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (69, 34, 93, 73, 15, 17, 19, 66, 91, 1)

In [ ]:
# 38. Check if a tuple is sorted.

In [144]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [ ]:
# 39. Rotate a tuple to the left by `n` positions.

In [145]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [ ]:
#40. Rotate a tuple to the right by `n` positions

In [146]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [ ]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [147]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [ ]:
#42. Create a tuple from user input.

In [148]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  tuntun, kumar, sah, bihar

User input tuple: ('tuntun', ' kumar', ' sah', ' bihar')

In [ ]:
#43. Swap two elements in a tuple.

In [149]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [ ]:
#44. Reverse the elements of a tuple.

In [150]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [ ]:
# 45. Create a tuple of the first `n` powers of 2

In [151]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [ ]:
#46. Find the longest string in a tuple of strings.

In [152]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

In [ ]:
#47. Find the shortest string in a tuple of strings.

In [153]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [ ]:
# 48. Create a tuple of the first `n` triangular numbers.

In [155]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [ ]:
# 49. Check if a tuple contains another tuple as a subsequence.

In [154]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [ ]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [156]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
# Set Based Practice Problem :

In [ ]:
# 1. Create a set with integers from 1 to 5.

In [157]:
# Step 1: Create an empty set
my_set = set()

# Step 2: Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

# Step 3: Print the final set
print(my_set)## Set based problems:

{1, 2, 3, 4, 5}

In [ ]:
# 2. Add an element to a set.

In [158]:
# Step 1: Create a set
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Add an element to the set
element_to_add = 6
my_set.add(element_to_add)

# Step 4: Display the modified set
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [ ]:
#Remove an element from a set.

In [159]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Print the original set
print("Original Set:", my_set)

# Step 3: Choose an element to remove
element_to_remove = 3

# Step 4: Use the remove() method to remove the chosen element
# Note: If the element is not present in the set, remove() raises a KeyError.
my_set.remove(element_to_remove)

# Step 5: Print the modified set after removal
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [ ]:
#4. Check if an element exists in a set

In [160]:
# Step 1: Create a set with some elements
my_set = {1, 3, 5, 7, 9}

# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  3

3 exists in the set.

In [ ]:
#5. Find the length of a set without using the `len()` function

In [161]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

In [ ]:
# 6. Clear all elements from a set.

In [162]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Clear all elements from the set using the clear() method
my_set.clear()

# Step 4: Display the set after clearing
print("Set after clearing:", my_set)

Length of the set: 5

In [ ]:
# 7. Create a set of even numbers from 1 to 10.

In [163]:
# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        # Step 4: Add the even number to the set
        even_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [ ]:
#8. Create a set of odd numbers from 1 to 10

In [164]:
# Step 1: Initialize an empty set to store odd numbers.
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10.
for num in range(1, 11):
    # Step 3: Check if the current number is odd.
    if num % 2 != 0:
        # Step 4: If the number is odd, add it to the set.
        odd_numbers_set.add(num)

# Step 5: Print the final set of odd numbers.
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [ ]:
#9. Find the union of two sets.

In [165]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# 10. Find the intersection of two sets.

In [166]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection using the intersection() method
intersection_result = set1.intersection(set2)

# Print the original sets and the intersection
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [ ]:
#11. Find the difference between two sets.

In [167]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)

# Print the original sets and the difference set
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [ ]:
# 12. Check if a set is a subset of another set.

In [168]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [ ]:
 #13. Check if a set is a superset of another set.

In [169]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [ ]:
#14. Create a set from a list.

In [170]:
# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [ ]:
#15. Convert a set to a list.

In [171]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [ ]:
 #16. Remove a random element from a set.

In [172]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

In [ ]:
# 17. Pop an element from a set.

In [173]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [ ]:
#18. Check if two sets have no elements in common.

In [174]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [ ]:
# 19. Find the symmetric difference between two sets

In [175]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [ ]:
# 20. Update a set with elements from another set.

In [176]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [ ]:
# 21. Create a set of the first 5 prime numbers.

In [4]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [ ]:
# 22. Check if two sets are identical.

In [5]:

set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  

# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [ ]:
#23. Create a frozen set

In [3]:
elements = [1, 2, 3, 4, 5]

# Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [ ]:
#24. Check if a set is disjoint with another set.

In [6]:
# Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [ ]:
# 25. Create a set of squares of numbers from 1 to 5.

In [7]:
# Create an empty set to store the squares of numbers
squares_set = set()

# Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [ ]:
#26. Filter out all even numbers from a set.

In [8]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [ ]:
#27. Multiply all elements in a set by 2.

In [9]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [ ]:
#28. Create a set of random numbers.

In [10]:
#Import the `random` module to generate random numbers
import random

# Define the number of random numbers you want in the set
num_random_numbers = 5

# Initialize an empty set to store the random numbers
random_number_set = set()

# Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {45, 15, 17, 92, 94}

In [ ]:
 #29. Check if a set is empty.

In [11]:
# Create a set (you can replace this with your own set)
my_set = set()

# Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [ ]:
 #30. Create a nested set (hint: use frozenset).

In [12]:
# Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [ ]:
# 31. Remove an element from a set using the discard method

In [13]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [ ]:
 #32. Compare two sets

In [14]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [ ]:
# 33. Create a set from a string

In [16]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'h', 'e', 'o', 'l'}

In [ ]:
 #34. Convert a set of strings to a set of integers.

In [17]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '123', '789'}
Converted Integer Set: {456, 123, 789}

In [ ]:
#35. Convert a set of integers to a set of strings.

In [18]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'1', '5', '3', '2', '4'}

In [19]:
#36. Create a set from a tuple

In [20]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

In [ ]:
 #37. Convert a set to a tuple.

In [21]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [ ]:
# 38. Find the maximum value in a set.

In [22]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

In [ ]:
 #39. Find the minimum value in a set.

In [23]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [ ]:
#40. Create a set from user input.

In [24]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  1,t,5,6,
>  done

Final set: {'1,t,5,6,'}

In [ ]:
 #41. Check if the intersection of two sets is empty.

In [25]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [ ]:
# 42. Create a set of the first 5 Fibonacci numbers.

In [26]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [ ]:
 #43. Remove duplicates from a list using sets.

In [27]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [ ]:
 #44. Check if two sets have the same elements, regardless of their count.

In [28]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [ ]:
 #45. Create a set of the first `n` powers of 2.

In [29]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [ ]:
# 46. Find the common elements between a set and a list.

In [30]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [ ]:
 #47. Create a set of the first `n` triangular numbers.

In [31]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  4

The set of the first 4 triangular numbers is: {1, 10, 3, 6}

In [ ]:
 #48. Check if a set contains another set as a subset.

In [32]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [ ]:
 #49. Create a set of alternating 1s and 0s of length `n`.

In [33]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [ ]:
#50. Merge multiple sets into one.

In [34]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}